/*! 
 *  customized by; Ebuzer Egemen DURSUN, eedursun@gmail.com
 *  Licensed to : KITANTIK - 12.2016
 */
 
/* Dark : #042d4e*/
/* Light : #eba400*/
 
 
html, body {
	height: 100%;
	margin: 0;
}
 
body {
	background-color:#ececec;
/* 	background-color:#f2f2f2; */
	font-family: 'Open Sans', sans-serif ;
	font-size:13px;
}

#layout-header .ui.container {
	width: calc(100% - 340px) !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.ui.main.container {
    margin-top: 5em;
	width: 80% !important;
	margin-left:auto !important;
	margin-right:auto !important;
	}
#layout-header .computer-header{
	margin-top:0px;
}
.width-50 {
	width: 50% !important;
}
html, body, #layout-container { height: 100%; }
#layout-header { height: 50px; }
#layout-main { display: flex; height: calc(100% - 100px); }
#layout-sidebar { overflow-y: auto; height: 100%;}
#layout-content { height: 100%; width: 100%; }
#layout-list { overflow-y: auto; height: 100%;  padding-top: 10px;}


#layout-header {
	border-bottom:1px solid rgba(0,0,0,.1);
	background-color: #042d4e;	
}
#layout-sidebar {
	background-color: #ececec;
	width: 175px; /* #layout-header .ui.menu MARGIN-RIGHT DEGISMELI +25 scroll ekle */
	min-width: 175px;
}
#layout-header .ui.menu {
	border-radius:0px;
	margin:0px;
	box-shadow:none;
	border:none;
	background-color: transparent;
}
#layout-header .ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
	padding-left:1.5em!important;
	}
#layout-header  .ui.dropdown>.text>.icon {
	margin-right:0px;
}

.kitantik-sidebar {
	overflow-y: auto;
	height: calc(100% - 100px);
    position: fixed;
    z-index: 10;
    background-color: #ececec;
    top: 100px;
}
.kitantik-right-side{right: 0px; border-left:1px solid #dddddf; width: 150px;}
.kitantik-left-side{left: 0px; border-right:1px solid #dddddf; width: 150px; background-color: #f4f4f4;}

.kitantik-left-side .item:hover {
	background-color: #FFFFFF;
}
.kitantik-left-side .ui.divided.list>.item {
	border:none;
}
.kitantik-left-side .item .ui.image {
	float:left;
}
.kitantik-left-side h4{
	margin: 0px !important;
	border-bottom:1px solid #dddddf !important;
	background-color: #FFFFFF;
}
.kitantik-left-side .ui.list {
	margin-top:0px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
}

a:hover {color: #EBA400;}

.ui.inverted.list .item a:not(.ui):hover {
    color: #EBA400!important;
}

.header-logo {
	height: 85px;
	display: inline-block;
	padding-top: 15px;

}


.ui.fixed.menu {
/* 	padding: 15px 0px; */
	border: none;
	
/* 	-webkit-webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.25); */
/* 	-moz-webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.25); */
/* 	-ms-webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.25); */
/* 	-o-webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.25); */
/* 	webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.25); */
/* 	-moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.25); */
/* 	box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.25); */
}

#footer-btn {
	float: right;
	margin-left: 7px;
}

#footer-btn .menu {
	min-width: 640px;
}
#footer-btn .ui.divided.horizontal.list>.item:not(:last-child) {
    padding-right: 1em;
}
#footer-btn .ui.divided.horizontal.list>.item:not(:first-child) {
    padding-left: 1em;
}
#footer-btn .menu .ui.relaxed.grid{
	margin-left:0px;
	margin-right:0px;
/*     padding-left: 20px; */
/*     padding-right: 20px; */
}
.ui.search .action:hover {
	background: none;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.ui.menu .item {
	padding: 0px;
}
ui.grid.top.user {
    width: 100%;
    margin: 0px;
}
.ui.grid {
	width: 100%;
	margin: 0px;
}
.small {
	font-size:80% !important;
}
.font-12 {
	font-size:12px !important;
}
.ui.segment {
	display: inline-block;
}

.ui.search .prompt {
	border-radius: 4px;
}

.ui.category.search .results {
	width: 100%;
	text-align: left;
}

.ui.search>.results .result .title {
	font-family: 'Open Sans', sans-serif ;
	font-weight: 900;
	font-size: 14px;
	color: #042d4e;
}

.login-form {
	width: 50%;
}

.ui.section.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.ui.divider:not(.vertical):not(.horizontal){
	border-top: 1px solid rgba(36,85,93,.15);	
	border-bottom: 1px solid rgba(255,255,255,.1);
}

.ui.header {
	color: #eba400;
	font-family: 'Open Sans', sans-serif !important;
	letter-spacing: -0.03em;
	font-weight: 400;
}

.ui.action.input:not([class*="left action"])>.button:last-child{
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;	
	border-top-right-radius: 4px;	
	border-bottom-right-radius: 4px;
}

#layout-header #searchInput {
	padding: 0px;
    padding-left: 10px;
    border-color:transparent;
}

.ui.form input:not ([type] ), .ui.form input[type=text], .ui.form input[type=email],
	.ui.form input[type=search], .ui.form input[type=password], .ui.form input[type=date],
	.ui.form input[type=datetime-local], .ui.form input[type=tel], .ui.form input[type=time],
	.ui.form input[type=url], .ui.form input[type=number] {
	border-color: rgba(0,66,27, .15);
	background-color: rgba(0,66,27, .05);
	font-weight: bold;
	color: #EBA400;
}

.ui.form .field>label, .ui.progress>.label {
	font-weight: normal;
}

.ui.form .field {
	margin: 0 0 1.5em;
}

.ui.action.input:not ([class*="left action"] ) input:focus {
	border-right: none;
}

.ui.icon.input>i.icon,
.ui.menu .ui.dropdown .menu>.item i {
	color: #EBA400;
}

.ui.button {
	font-family: 'Open Sans', sans-serif;
}

.button-state .ui.empty.circular.label, .ui.empty.circular.labels .label{
	display: none;
}
.ui.mini.label, .ui.mini.labels .label {
	font-size:6px;
}

.button-state a {
	color: #042d4e !important;
/* 	color: #addcc0 !important; */
}
.ui.menu .ui.dropdown .menu>.item {
	font-size:13px;
}
#layout-header .menu>.item i.dropdown.icon {
	display: none;
}
.ui.dropdown .menu .active.item {
	font-weight: normal;
}

/*--------------------------- DETAILS S-------------------*/
.book-cover {
/* 	float: left; */
/* 	width: auto; */
/* 	margin-right: 1.5em !important; */
/* 	margin-top: 0px !important; */
	padding-bottom: 6px;
	width:100%;
}

.book-cover img {
	width: 100%;
	-webkit-border-top-left-radius: .28571429rem;
	-webkit-border-top-right-radius: .28571429rem;
	-moz-border-radius-topleft: .28571429rem;
	-moz-border-radius-topright: .28571429rem;
	border-top-left-radius: .28571429rem;
	border-top-right-radius: .28571429rem;
}

.ui.comments {
	margin: 0px;
	max-width: 100%;
	width: auto;
}
.ui.comments .comment {
	    border-bottom: 1px solid rgba(0,0,0,.06);
}
.authorName {
    font-size: 1em;
    font-weight: 700;
}
.ui.comments .comment .actions {
    margin-bottom: 12px;
}
.ui.comments .comment .text {
	font-size: 13px;
}
.ui.grid>.column:not(.row), .ui.grid>.row>.column {
	padding-left: 0px;
	padding-right: 0px;
}
.blocked {
	display: block;
}
.ui.comments .comment .avatar img, .ui.comments .comment img.avatar {
	width: 34px;
	height: 34px;
}
.ui.feed{
	padding: 10px;
}
.kitantik-right-side .ui.feed {
	font-size:11px;
	margin:0px;
}
.kitantik-right-side .activity-link{
	display: none;
}
.ui.feed .ui.divider {
	margin:0.4rem 0;
}
.add-new .ui.grid>.column:not(.row), .add-new .ui.grid>.row>.column {
	padding-left: 20px;
	padding-right: 20px;
}
.add-new .cards .card {
	margin: 0 auto;
}
.add-new h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	color: #042d4e;
	font-size: 3em;
	margin-bottom: 0px;
}

.add-new .ui.cards>.card>.image,
.add-new .ui.cards>.card,
.add-new .ui.cards>.card>.content,
.add-new .ui.cards a.card:hover, 
.add-new .ui.link.card:hover,
.add-new .ui.link.cards .card:hover,
.add-new a.ui.card:hover{
	background-color: transparent;
	box-shadow:none;
	border:none;
}
.add-new .ui.attached.button{
	box-shadow:none !important;
}

.add-new .ui.cards>.card>.image>img {
	width: 50%;
	margin: 0 auto;
}
.other-contents {
	display: block;
    height: 396px;
	margin-top:30px;
	border-radius:4px;
	    -webkit-mask-image: -webkit-gradient(linear, center top, center bottom, 
			color-stop(0.00,  rgba(0,0,0,1)),
			color-stop(0.15,  rgba(0,0,0,1)),
			color-stop(0.80,  rgba(0,0,0,0)),
			color-stop(0.80,  rgba(0,0,0,0)),
			color-stop(1.00,  rgba(0,0,0,0)));
          mask-image: -webkit-gradient(linear, center top, center bottom, 
			color-stop(0.00,  rgba(0,0,0,1)),
			color-stop(0.15,  rgba(0,0,0,1)),
			color-stop(0.80,  rgba(0,0,0,0)),
			color-stop(0.80,  rgba(0,0,0,0)),
			color-stop(1.00,  rgba(0,0,0,0)));
}
.other-img {
	float: left;
	width:calc(50% - 2px);
	padding: 0px;
	margin:1px;
	height: 130px;
	border-radius:4px;
	
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat; 
}
.jFiler-items-grid .jFiler-item .jFiler-item-container {
	padding: 2px;
	margin:3px 3px 0 0;
}
.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-thumb-overlay {
	background-color: rgba(4, 45, 78, 0.8);
}
.jFiler-input-dragDrop {
	width: 100%;
	border: 2px dashed rgba(0,66,27, .3);
	margin-bottom:20px;
}
.jFiler-input-dragDrop .jFiler-input-icon {
	margin-top: 10px;
	margin-bottom: 20px;
}

.jFiler-input-text h3 {
	font-size:15px;
}
.facebook-content {
	overflow: hidden;
}

.ui.xsmall.button, .ui.xsmall.buttons .button, .ui.xsmall.buttons .or {
	font-size:.65rem;
}
/*--------------------------- DETAILS E-------------------*/



/*--------------------------- MASONRY S-------------------*/
#masonry-container, #container {
	/* 	background-color:blue; */
	padding: 0px;
	margin-bottom: 20px;
	border-radius: 5px;
	clear: both;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.masonry-item {
	width:calc(20% - 14px);
	float: left;
	margin: 0 7px 14px 7px;
	background: white;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #cbcbcd;
	
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.user-masonry .masonry-item {
	width:calc(16.66% - 14px);
}

.search-results .masonry-item {
	width:calc(25% - 14px);
}
.masonry-item:hover {
	-webkit-webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
	-moz-webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
	-ms-webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
	-o-webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
	webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
	border: 1px solid #042d4e;
}

.single-entry-image {
	width: 100%;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.item-content-holder {
	padding: 20px;
	padding-bottom: 0px;
}

.item-content-title, .content-title {
	font-weight: 900;
	color: #042d4e;
	display: block;
}
	.item-content-title {
	    line-height: 17px;
	    margin-bottom: 5px;
	    font-size: 14px;
	}
	.content-title {
		font-family: 'Playfair Display', serif;
		margin-bottom: 10px;
		font-size: 30px;
		line-height: 32px;
	}
.content-writer {
	color: #000000;
	font-weight: 700;
	letter-spacing: -0.02em;
	font-size: 16px;
	margin-bottom: 30px;
}
.item-content-writer {
	letter-spacing: -0.02em;
	color: #000000;
	font-weight: 400;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 14px;
}

.item-content-subject {
	color: #7e7b76;
	font-size: 12px;
	margin-bottom: 25px;
	line-height: initial;
}
.item-content-subject,
.item-content-writer,
.content-writer,
.item-content-title, .content-title{
	word-wrap:break-word;
}
.social-actions .ui.mini.button {
    padding: 5px 0px;
    margin: 0px;
    float: left;
    border-radius: 0px;
    font-weight: normal;
    min-height: 36px;
}
.social-actions .ui.mini.button strong{
	display: block;
	margin-top: 4px;
}
.social-actions .ui.mini.button i{
	display: none;
}

.social-actions .btn1,
.social-actions .btn2 {
	width: 33%;
}
.social-actions .btn3{
	width: 34%;
}
.social-actions .btn1 {
	-webkit-border-bottom-left-radius: 7px!important;
	-moz-border-radius-bottomleft: 7px!important;
	border-bottom-left-radius: 7px!important;
}
.social-actions .btn3 {
	-webkit-border-bottom-right-radius: 7px!important;
	-moz-border-radius-bottomright: 7px!important;
	border-bottom-right-radius: 7px!important;
}

#sozluk-detail .btn1, 
#sozluk-detail .btn2, 
#sozluk-detail .btn3 {
	display: block;
	width:100%;
	margin-bottom:4px;
	text-align:center;
}

/*--------------------------- MASONRY E-------------------*/

/*--------------------------- USER PROFILE S-------------------*/
.user-photo {
	width:100%;
}
.ui.list.left-50, .left-50 {
    float: left !important;
    width: 50%;
}
.liked-image {
    margin-right: .25em;
    display: inline-block;
    width: 2em;
    -webkit-webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	-moz-webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	-ms-webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	-o-webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	
	border:1px solid #a9a9a9;
	max-height: 32px;
}
h1.profile-header {
	color:#eba400;
	margin-bottom: 0px;
}
h4.profile-header {
	margin-top: 0px;
	margin-bottom:20px;
/* 	font-weight: 400; */
}
.desc-lock, .desc-lock:focus {
	border: none;
	outline: none;
}
.data-timing {
	font-size: 70%; 
}
/*--------------------------- USER PROFILE E-------------------*/

.full-width {
	width: 100% !important;
}
.no-padding {
	padding:0px !important;
	}
.padding-30{
	padding: 30px !important;
}
.padding-20{
	padding: 20px !important;
}
.padding-10{
	padding: 10px !important;
}
.padding-right-10{
	padding-right: 10px !important;
}
.padding-right-20{
	padding-right: 20px !important;
}
.padding-left-30 {
	padding-left:30px !important; 
}
.margin-bottom-30 {
	margin-bottom: 30px !important;
}
.margin-bottom-20 {
	margin-bottom: 20px !important;
}
.margin-bottom-10 {
	margin-bottom: 10px !important;
}
.margin-top-30 {
	margin-top: 30px !important;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before,
.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
    background-color: #5cb85c!important;
}

.ui.divided.list>.item {
    border-top: 1px solid rgba(122, 48, 1, 0.11);
}
.ui.divided.horizontal.list>.item:not(:last-child),
.ui.divided.horizontal.list>.item:not(:first-child){
	padding-left: 1em;
	padding-right: 1em;
}
.ui.divided.horizontal.list>.item:first-child{
	padding-top: .21428571em !important;
}

.text-primary {color:#428bca;}
.text-success {color:#5cb85c;}
.text-warning {color:#f0ad4e;}
.text-danger {color:#d9534f;}
.text-grey {color:#828c96;}
.text-dark {color:#313a3d;}
.text-lightgrey {color:#d4d9d6;}
.text-orange {color:#eba400;}

/* ----------------------- MODAL ----------------------------- */
/* Tiny Modal Width */

.ui.dimmer {
	z-index:9500;
	background-color: rgba(0,0,0,.45);
}
@media only screen and (max-width: 767px) {
  .ui.tiny.modal {
    width: 95%;
    margin: 0em 0em 0em -47.5%;
  }
}

@media only screen and (min-width: 768px) {
  .ui.tiny.modal {
    width: 50%;
    margin: 0em 0em 0em -25%;
  }
}

@media only screen and (min-width: 992px) {
  .ui.tiny.modal {
    width: 480px;
    margin: 0em 0em 0em -240px;
  }
}

@media only screen and (min-width: 1200px) {
  .ui.tiny.modal {
    width: 480px;
    margin: 0em 0em 0em -240px;
  }
}

@media only screen and (min-width: 1920px) {
  .ui.tiny.modal {
    width: 480px;
    margin: 0em 0em 0em -240px;
  }
}

/* ---------------------- SEMANTIC ORANGE BUTTON STYLES HACK ------------------------ */
.ui.orange.button, .ui.orange.buttons .button {
	background-color: #eba400;
}
.ui.orange.button:hover, .ui.orange.buttons .button:hover,
.ui.orange.active.button, .ui.orange.button .active.button:active, .ui.orange.buttons .active.button, .ui.orange.buttons .active.button:active,
.ui.orange.button:focus, .ui.orange.buttons .button:focus {
	background-color: #f5ab00;
}
.ui.basic.orange.button, .ui.basic.orange.buttons .button,
.ui.basic.orange.button:active, .ui.basic.orange.buttons .button:active {
	box-shadow: 0 0 0 1px #eba400 inset !important;
    color: #eba400 !important;
}
.ui.basic.orange.button:hover, .ui.basic.orange.buttons .button:hover {
    background: 0 0!important;
    box-shadow: 0 0 0 1px #FFFFFF inset!important;
    color: #ffffff!important;
}
.ui.orange.label, .ui.orange.labels .label {
    background-color: #eba400!important;
    border-color: #eba400!important;
    color: #FFF!important;
}
/* ---------------------- SEMANTIC ORANGE BUTTON STYLES HACK ------------------------ */

.category-listing {
	margin:0px;
	padding: 0px;
	list-style: none;
}
.category-listing>li{
	display: inline-block;
	width: 33%;
	float: left;
	padding: 3px 0px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #eba400;
    border-color: #eba400;
}



/* ---------------------- RESPONSIVE MODILE SHITS ------------------------ */
@media only screen and (max-device-width: 768px) {
	#layout-header {
		position: relative;
	}
	#layout-header .ui.container {
		width: 100% !important;
		margin-left:auto !important;
		margin-right:auto !important;
		padding-left: 5px;
    	padding-right: 5px;
    	padding-top: 10px;
	}
	.ui.main.container {
	    margin-top: 10px;
		width: 100% !important;
		margin-left:auto !important;
		margin-right:auto !important;
		padding-left: 10px;
    	padding-right: 10px;
	} 
	#layout-header .sixteen.wide.mobile.column{
		padding-bottom: 10px;
	}
	#layout-header .ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
		display:none;
	}
	#layout-header .mobile-header .row {
		margin-top
	}
	.masonry-item,
	.search-results .masonry-item,
	.user-masonry .masonry-item{
		width:calc(50% - 10px) !important;
		margin:0px 5px 10px 5px !important; 
	}
	.item-content-subject,
	.content-subject{
		display: none;
	}
	.item-content-holder, .content-holder {
		padding: 10px;
	}
	.masonry-item .item-content-writer {
		margin-bottom:0px;
	}
	.masonry-item .social-actions,
	.search-results .masonry-item .social-actions,
	.user-masonry .masonry-item .social-actions {
		display: none;
	}
	.kitantik-sidebar {
		display: none !important;
	}
	.header-logo {
		padding-top:0px;
		padding-left: 5px;
		height: 40px;
	}
	.header-logo img{height: 100%;}
	
	.padding-right-20,
	.padding-right-10{padding-right:0px!important;}
	
	.padding-30{padding:10px !important;}
	.padding-left-30{padding:0px !important;}
	 .bread-crump {margin-top:30px;}
	 
	 #pagination-demo li.page-item.first,
	 #pagination-demo li.page-item.prev,
	 #pagination-demo li.page-item.next,
	 #pagination-demo li.page-item.last {display:none;}
	 #footer-btn .menu {min-width: 100%;}
	 #footer-btn .ui.divided.horizontal.list>.item:not(:last-child), 
	#footer-btn .ui.divided.horizontal.list>.item:not(:first-child) {
		float: none;
		display: block;
		width: 100%;
	}
	#footer-btn .ui.divided.horizontal.list>.item {border:none;}
	#footer-btn .ui.header{margin: 0px;}
	#footer-btn .ui.list{margin-top: 0px; margin-bottom:0px;}
}
/* ---------------------- RESPONSIVE TABLET SHITS ------------------------ */
/* @media only (min-device-width: 769px) and (max-device-width: 992px) {  */
/* 	.masonry-item { */
/* 		width:calc(50% - 14px); */
/* 	} */
/*  } */

/* ---------------------- RESPONSIVE DESKTOP SHITS ------------------------ */
@media only screen and (max-width: 768px) {
	.masonry-item {
		width:100%;
		margin: auto;
		margin-bottom:14px;
	}
	.width-50 {
		width: 100% !important;
	}
}
@media only screen and (min-width: 769px) and (max-width: 992px){
	#layout-header .ui.container {
		width: 95% !important;
	}
	.masonry-item {
		width:calc(50% - 14px);
	}
	.width-50 {
		width: 75% !important; 
	}
}
@media only screen and (min-width: 993px) and (max-width: 1280px){
	#layout-header .ui.container {
		width: 95% !important;
	}
	.masonry-item {
		width:calc(25% - 14px);
	}
}
