           body {
    padding-top: 50px;
}
#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}
#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px 0;
}
#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
}
#sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
    position: fixed;
    border-right: 1px solid gray;
}
#sidebar {
    position: relative;
    height: 100%;
    overflow:hidden;
}
#sidebar .list-group-item {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
}
@media (max-width: 992px) {
    body {
        padding-top: 0px;
    }
}
@media (min-width: 992px) {
    #main-wrapper {
        float:right;
    }
}
@media (max-width: 992px) {
    #main-wrapper {
        padding-top: 0px;
    }
}
@media (max-width: 992px) {
    #sidebar-wrapper {
        position: static;
        height:auto;
        max-height: 300px;
  		border-right:0;
	}
}
.footer {
    background-color:#ffffff;
	bottom:0;
  	position:fixed;
    padding:10px;
}


.errorx {
	color: #ff0000;
	font-style: italic;
	font-weight: bold;
}

.main.container {
	margin-top: 7em;
}

.na-menuitem {
	
}

.na-card {
	
}

.owl-item {
	padding: 10px;
}

.na-category-popup {
	min-width: 700px;
	background-color: ghostwhite;	
}

.invisible {
	display: none;
}

.ui.menu .ui.dropdown .menu>.item.tab1 {
	margin-left: 10px;
}

.ui.menu .ui.dropdown .menu>.item.tab2 {
	margin-left: 20px;
}

.category-popup {
    overflow-y: auto;
    height: 400px;	
}
